target
bin
build
*.settings
*.classpath
*~
.checkstyle
.metadata
.recommenders
*.class
*.db
output
uva/src/main/java/Main.java
RemoteSystemsTempFiles
__pycache__

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# File-based project format
*.iws